// show field invalid messages for manual showing (not coupled with reactstrap component)
.invalid-field {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $danger;
}
.invalid-field-border {
  border-color: $danger;
}
/* specific for react-select invalid field */
.invalid-field__control {
  border-color: $danger !important;
}

// adjustment for react-datetime with react-strap (bootstrap) layout
.rdt-datefield {
  flex: 1 1 auto;
  width: 1%;
}

// adjustment for react-dates with invalid dates
.drp-invalid-field {
  border: 1px solid $danger;
  width: fit-content; // remove if we want full width
}

// adjustment for react-select
.rs-group {
  flex: 1 1 auto;
  width: 1%;
}

// custom radio button
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}

// custom checkbox
.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 3px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-checkbox:hover
{
     background-color: #f7f7f7;
}
.form-checkbox:checked
{
     background-color: #f1f1f1;
}

.form-radio[disabled],.form-checkbox[disabled]
{
    background-color: #f9f9f9;
    color: #ddd;
    cursor: default;
}
.form-radio[disabled] + label,.form-checkbox[disabled] + label
{
    color: #999;
    cursor: default;
}
